#page {
    padding: 0 10em;
    line-height: 1.6;
    color: #fff; /* White text for contrast */
}

#page .intro-image {
    margin: auto;
    margin-top: 3em;
    display: block;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

#page h1 {
    color: #f1c40f; /* Yellow color for contrast */
    font-size: 2em;
    margin-bottom: 20px;
}

#page h2 {
    color: #fff; /* White color for contrast */
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#page p {
    font-size: 1em;
    margin-bottom: 15px;
}

#page ul {
    list-style-type: none;
    padding: 0;
}

#page ul li {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #f1c40f; /* Yellow border for contrast */
}

#page ul li strong {
    color: #f1c40f; /* Yellow color for contrast */
}

#page a {
    color: #f2dd87; /* Yellow color for contrast */
    text-decoration: none;
}

#page a:hover {
    text-decoration: underline;
}

#page .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#page .profile img {
    border-radius: 70%;
    width: 300px;
    height:300px;
    margin-right: 2em;
}

#page .profile .bio {
    max-width: 600px;
}

#page .profile .bio h3 {
    color: #f1c40f; /* Yellow color for contrast */
    margin: 0;
    font-size: 1em;
}

#page .profile .bio p {
    color: #fff; /* White text for contrast */
    margin: 5px 0;
    font-size: 1em;
}

/* Responsive section content */
@media (max-width: 800px) {
    #page {
        padding: 1em;
    }
    #page h1 {
        font-size: 1.5em;
    }
    #page h2 {
        font-size: 1.2em;
    }
    #page p {
        font-size: 0.9em;
    }
    #page ul li {
        padding: 5px;
    }
    #page .profile {
        flex-direction: column;
        align-items: center;
    }
    #page .profile img {
        width: 50%;
        height: auto;
        margin-bottom: 1em;
    }
    #page .profile .bio {
        max-width: 100%;
        margin-bottom: 3em;
    }
}